.PrimaryButton{
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border: 0;
}

.PrimaryButton:hover{
  filter: brightness(1.2);
}